button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  font-size: 32;
  margin: 10;
  outline: 0;
  padding: 10px 16px;
  transition: all .ls linear;
}

button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

select {
  border: 0;
  border-radius: 2px;
  box-shadow: 5px 2px 2px #006599;
  cursor: pointer;
  font-size: 48;
  font: inherit;
  background-color: #c8c8c8;
}
